* {
    font-family:Georgia, 'Times New Roman', Times, serif;
}
/* set some color variables for use later in the stylesheet */
:root {
    --darkcolor: rgb(31, 46, 61);
    --lightcolor: rgb(155, 208, 191);
    --white: white;
    --textcolor: rgb(44, 117, 145);
}
/* set body of the document as a flex column container */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}
/* establish the header as a flex container and set background colors */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--darkcolor);
    border-top: 3px solid var(--lightcolor);
}
/* sizing, color, padding, and margin for the header h1 */
header h1 {
    background-color: var(--lightcolor);
    margin-left: 0;
    padding: 15px;
    padding-left: 50px;
    color: var(--darkcolor)
}
/* font size and padding for the nav bar links */
header nav {
    padding-right: 50px;
    font-size:large;
}
/* color and font info for the links in the nav bar */
header nav a {
    text-decoration: none;
    color: var(--lightcolor);
    padding: 0 5px;
    border-bottom: 5px solid var(--lightcolor);
}
/* sets the background image for the banner section */
.banner-section {
    position: relative;
    height: 250px;
    background-image: url("images/background.jpg");
    background-size: cover;
}
/* sizing, color, positioning info for the container holding the subtitle */
.banner-section div {
    position: absolute;
    bottom: 25px;
    right: 50px;
    background-color: var(--lightcolor);
    width: 300px;
    text-align: center;
    padding: 0;
}
/* sets sizing position and padding for the banner subtitle */
.banner-section h2 {
    padding: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    color: var(--darkcolor);
    font-size: 1.6rem;
}
/* sets the main section as a flex column container and sets color info */
.flex-column {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    color: var(--textcolor);
}
/* sets the about me section as a flex container */
.about-me {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    justify-content: space-between;
    height: 250px;
}
/* sizing and border for the h3 about me heading */
.about-me h3 {
    border-right: 3px solid var(--textcolor);
    margin:3px;
    width: 25%;
    height: auto;
    text-align:end;
    font-size: 3rem;
    padding: 60px 10px 60px;

}
/*sets margin and sizing for the about me div containing the paragraphs */
.about-me div {
    margin: 3px;
    width: 75%;
    padding: 50px 5px 50px 10px;

}
/* sets the my work section as a flex container */
.my-work {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 1000px;

}
/* sizing for the my work h3 heading */
.my-work h3 {
    border-right: 3px solid var(--textcolor);
    /* margin:3px; */
    width: 25%;
    height: auto;
    text-align:end;
    font-size: 3rem;
    padding: 60px 10px 60px;

}
/* sets the card div as a flex container and positions and sizes the cards */
.card-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-content: stretch;
    width: 75%;
    min-width: 0;
    min-height: 0;
    margin: 50px 8px 50px 8px;
    overflow: hidden;
}

/*border and sizing for the project cards */
.cards {
    border: 4px solid var(--lightcolor);
    height: 275px;
    width: 400px;
    margin: 0 5px 0 5px;
}
/* image links and sizing for the project backgrounds */
.refactor {
    position: relative;
    background-image: url("images/refactor.png");
    background-size: cover;
}

.portfolio {
    position: relative;
    background-image: url("images/portfolio.png");
    background-size: cover;
}

.comingSoon{
    position: relative;
    background-image: url("images/comingsoon.jpg");
    background-size: cover;

}

/* positioning and color for the clickable portion of the project cards */
.refactor a, .portfolio a, .comingSoon a{
    position: absolute;
    right: -1;
    bottom: 10px;
    color: var(--darkcolor);
    text-decoration: none;
    background-color: var(--lightcolor);
    padding: 5px 5px;
}

/* the following code sizes and positions all of the elements within the footer */

footer {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100px;

}

footer h3 {
    border-right: 3px solid var(--textcolor);
    width: 25%;
    height: 95%;
    text-align:end;
    font-size: 3rem;
    padding: 20px 10px 20px 0px;
    color: var(--textcolor);
}

footer nav {

    padding-left: 20px;
    margin: auto;

}

footer a {

    width: 75%;
    text-decoration: none;
    color: black;
    border-bottom: 3px solid var(--textcolor);
    padding:0 10px 3px 10px;
    font-size: 1.2rem;
    margin: 2px;

}


/* Media Queries to help with the page display elements for smaller screens */


@media screen and (max-width: 768px) {
    
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .about-me {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .about-me h3 {
        border: 0;
        border-bottom: 3px solid var(--textcolor);
        padding: 0;
        margin: 0;
        justify-content: center;
    }

    .my-work {
        display: flex;
        flex-direction: column;
    }

    .my-work h3 {
        border: 0;
        border-bottom: 3px solid var(--textcolor);
        padding: 0;
        margin: 0;
        justify-content: center;
    }

    .card-div {
        margin: 15px;
        justify-content: space-between;
        overflow: scroll;
    }
        
    
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    footer h3 {
        border: 0;
        text-align: center;
        margin: 0;
    }

    footer a {
        width: auto;
        padding:0 0 5px 0;
        margin: 0 0 10px 0;
    }
}



@media  screen and (min-width: 992px) {

}

