* {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

:root {
    --darkcolor: rgb(31, 46, 61);
    --lightcolor: rgb(155, 208, 191);
    --white: white;
    --textcolor: rgb(44, 117, 145);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--darkcolor);
    border-top: 3px solid var(--lightcolor);
}

header h1 {
    background-color: var(--lightcolor);
    margin-left: 0;
    padding: 15px;
    padding-left: 50px;
    color: var(--darkcolor)
}

header nav {
    padding-right: 50px;
    font-size:large;
}

header nav a {
    text-decoration: none;
    color: var(--lightcolor);
    padding: 0 5px;
    border-bottom: 5px solid var(--lightcolor);
}

.banner-section {
    position: relative;
    height: 250px;
    background-image: url("images/background.jpg");
    background-size: cover;
}

.banner-section div {
    position: absolute;
    bottom: 25px;
    right: 50px;
    background-color: var(--lightcolor);
    width: 300px;
    text-align: center;
    padding: 0;
}

.banner-section h2 {
    padding: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    color: var(--darkcolor);
    font-size: 1.6rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    color: var(--textcolor);
}

.about-me {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 250px;
}

.about-me h3 {
    border-right: 3px solid var(--textcolor);
    margin:3px;
    width: 25%;
    height: auto;
    text-align:end;
    font-size: 3rem;
    padding: 60px 10px 60px;

}

.about-me div {
    margin: 3px;
    width: 75%;
    padding: 50px 5px 50px 10px;

}

.my-work {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 1000px;

}

.my-work h3 {
    border-right: 3px solid var(--textcolor);
    /* margin:3px; */
    width: 25%;
    height: auto;
    text-align:end;
    font-size: 3rem;
    padding: 60px 10px 60px;

}

.card-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-content: stretch;
    width: 75%;
    margin: 50px 8px 50px 8px;
}


.cards {
    border: 4px solid var(--lightcolor);
    height: 275px;
    width: 400px;
    margin: 0 5px 0 5px;
}

.refactor {
    position: relative;
    background-image: url("images/refactor.png");
    background-size: cover;
}

.refactor a {
    position: absolute;
    right: -1;
    bottom: 10px;
    color: var(--darkcolor);
    text-decoration: none;
    background-color: var(--lightcolor);
    padding: 5px 5px;
}



footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100px;

}

footer h3 {
    border-right: 3px solid var(--textcolor);
    width: 25%;
    height: 95%;
    text-align:end;
    font-size: 3rem;
    padding: 20px 10px 20px 0px;
    color: var(--textcolor);
}

footer nav {

    padding-left: 20px;
    margin: auto;

}

footer a {

    width: 75%;
    text-decoration: none;
    color: black;
    border-bottom: 3px solid var(--textcolor);
    padding:0 10px 3px 10px;
    font-size: 1.2rem;
    margin: 2px;

}


/* Media Queries to help with the page display elements for smaller screens */

